<!DOCTYPE html>
<html>
  <head>
    <title>Toys</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
  </head>
  <body>
    <h1>Toys!</h1>
    <div class="container-fluid">
      <% toys.forEach(function(toy, index) { %>
        <div class="card col-4 col-md-4 col-sm-4" style="width: 20rem;">
          <img class="card-img-top" src="<%=toy.img%>" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%= toy.name %></h4>
            <p class="card-text"><%= toy.description %></p>
            <a href="/toys/<%=toy.id%>" class="btn btn-primary">Show</a>
          </div>
        </div>
      <% }); %>
    </div>
    <div><a href='/toys/new'>New Toy</a></div>
  </body>
</html>
