<!DOCTYPE html>
<html>
  <head>
    <title>Show Toy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/show.css" />
  </head>
  <body>
    <h1>Name: <%= toy.name %></h1>
    <h3>Description: <%= toy.description %></h3>
    <form method="get" action="/toys/update/<%=toy.id%>">
      <button class="btn btn-primary" type="submit">Edit</button>
    </form>
    <form method="POST" action="/toys/delete/<%=toy.id%>?_method=DELETE">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </body>
</html>
